<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body class="container pt-5">
    <%- include("../partials/header", {pagina: "Sobre"}); %>
    <main>
      <div class="bg-dark text-white text-center p-5">
        <h1>Sobre mim</h1>
        <p>Olá meu nome é Luiz Felipe e sou estudante de desenvolvimento web</p>
      </div>
    </main>
    <%- include("../partials/footer"); %>
  </body>

</html>