<!DOCTYPE html>
<html lang="pt-BR">
  <!--Comando EJS de incluir o head -->
  <%- include("../partials/head"); %>
  <body class="container pt-5">
    <!--Comando EJS de incluir o header -->
    <%- include("../partials/header"); %>
    <main>
      <div class="bg-dark text-white text-center p-5">
        <h1>Node com EJS</h1>
        <p>Vamos aprender a trabalhar com arquivos EJS</p>
      </div>
    </main>
    <!--Comando EJS de incluir o footer -->
    <%- include("../partials/footer"); %>
  </body>
</html>